
<h1>Add New Book</h1>

<% if @book.errors.any? %>
    <div class="error">
      <h2>
        <%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:
      </h2>
      <ul>
        <% @book.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for :book, url: books_path do |f| %>
	<p>
	<%= f.label :title %><br>
	<%= f.text_field :title %>
	</p>

	<p>
	<%= f.label :description %><br>
	<%= f.text_area :description %>
	</p>

	<p>
	<%= f.label :author %><br>
	<%= f.text_field :author %>
	</p>

	<p>
	<%= f.submit %>
	</p>
<% end %>

<%= link_to 'Back', books_path %>