<% if @book.errors.any? %>
<div class="alert alert-danger" role="alert">
  <p><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</p>
  <ul>
    <% @book.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form_for @book do |f| %>
<div class="form-group space-bottom">
<%= f.label :title, "Title:", class: "control-label" %>

  <%= f.text_field :title, class: "form-control" %>

</div>

<div class="form-group space-bottom">
<%= f.label :description, "Description:", class: "control-label" %>

  <%= f.text_area :description, class: "form-control" %>

</div>

<div class="form-group space-bottom">
<%= f.label :author, "Author:", class: "control-label" %>

  <%= f.text_field :author, class: "form-control" %>

</div>

<div class="form-group space-bottom">
	<%= f.submit "Create", class: "btn btn-default btn-primary" %> <%= link_to 'Cancel', books_path, class: "btn btn-default" %>

<% end %>
