<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HelloRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <ul class="nav nav-pills">
    <li role="presentation" class="<%= 'active' if current_page?(root_path) %>">
      <a href="/">Home</a>
    </li>
    <li role="presentation" class="<%= 'active' if current_page?(books_path) %>">
      <%= link_to 'All Books', books_path %>
    </li>
    
    <li role="presentation" class="pull-right <%= 'active' if current_page?(new_book_path) %>">
      <%= link_to 'Create New Book', new_book_path %>
    </li>

    </ul>
    </div>

    <div class="clearfix"></div>


    <%= yield %>
  </body>
</html>
